<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/dashboard.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary px-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="/dashboard"><i class="fa-brands fa-artstation fa-xl me-2" style="color: #91d7ff;"></i> <strong>infocraft</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" class="btn btn-primary" role="button" onclick=changeDisplay()>Add User</a>
          </li>
        <li class="nav-item">
          <a  class="nav-link" href="/logout" style="
            background-color: transparent;
            text-decoration: none;
          ">Logout</a>
        </li>
      </ul>
      </div>
    </div>
  </nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add New User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="addUserForm">
      <div class="modal-body">
          <div class="mb-3">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="mb-3">
            <label for="phone" class="col-form-label">Phone Number:</label>
            <input type="text" class="form-control" id="phone" name="phone">
          </div>
          <div class="mb-3">
            <label for="username" class="col-form-label">Username:</label>
            <input type="text" class="form-control" id="username" name="username">
          </div>
          <div class="mb-3" id="passwordDiv">
            <label for="password" class="col-form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
        <h1 style="display: none;" id="id"></h1>
      </div>
    </form>
    </div>
  </div>
</div>

  <div class="text-align-center p-5">
  <table style="margin: 0 auto" id="userTable" class="table table-striped border round-lg">
    <thead>
    <tr style="width: 100%;">
        <th style="width: 4%;">Name</th>
        <th style="width: 4%;">Phone Number</th>
        <th style="width: 4%;">Username</th>
        <th style="width: 4%;">Action</th>
      <th style=" display: none;">Name</th>
    </tr>
  </thead>
  <tbody>
    <%if(users!=undefined){%>
    <% users.forEach(function(user){ %>
    <tr style="width: 100%;" >
        <td style="width: 4%;"><%= user.name%></td>
        <td style="width: 4%;"><%= user.phone%></td>
        <td style="width: 4%;"><%= user.username%></td>
        <td style="width: 4%;">
        <button class="btn btn-warning edit" id="edit_<%=user._id%>"><i class="fa-solid fa-user-pen me-2"></i>Edit</button>
        <button class="btn btn-danger delete" id="delete_<%=user._id%>"><i class="fa-solid fa-user-xmark me-2"></i>Delete</button></td>
      <td style=" display: none;"><%= user.id%></td>
    </tr>
    <% }) %>
    <%}%>
  </tbody>
    </table>
  </div>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
    // Initialize DataTables with your table
    const userTable = $('#userTable').DataTable();

    $(document).on("submit", "#addUserForm", async function(event) {
    event.preventDefault();
    const name=$("#name").val();
    const phone=$("#phone").val();
    const username=$("#username").val();
    if($("#addUserForm").hasClass("edit-mode")){
      const id=$("#id").val();
      $.ajax({
        url : "http://localhost:3000/user/edit",
        type : 'POST',
        dataType : 'json',
        data:{
          name,
          username,
          phone,
          id
        },
        success : async function(data) {
          if(data.status==400){
            alert("User Not Found while updating user");
          }else{
            console.log(data.user);
            alert(`${data.user.username} updated successfully`);
            var tdElementss = document.querySelectorAll('td');
            console.log(tdElementss);
          for (var i = 0; i < tdElementss.length; i++) {
            var td = tdElementss[i];
            var buttonIdToFind="edit_"+data.user._id;
            var buttonsInTd = td.querySelectorAll('button');
  
             for (var j = 0; j < buttonsInTd.length; j++) {
    var button = buttonsInTd[j];
    
    if (button.id === buttonIdToFind) {
      console.log('Found the <td> element containing the button with ID ' + buttonIdToFind + ':', td);
        break;         
    }
  }
             break; 
}
          }
          if (td!=undefined) {
            var trElement = $(td).closest('tr');
            console.log("Closest Row ",trElement);
            var tdElements = trElement.data();  
            console.log(tdElements,"tdElements");
            $(tdElements[0]).text(data.user.name);
            $(tdElements[1]).text(data.user.phone);
            $(tdElements[2]).text(data.user.username);
            // console.log(tdElements,"tdElements");
            $("#exampleModal").modal('hide');
            userTable.draw();
             }
            else {
                 console.log("Value not found in the table.");
                }
           
        },
        error : function() {
            alert("some error occured");
        }
    });

  }else{
    const password=$("#password").val();
    $.ajax({
        url : "http://localhost:3000/user/add",
        type : 'POST',
        dataType : 'json',
        data:{
          name,
          username,
          phone,
          password
        },
        success : function(data) {
          if(data.status==400){
            if(data.errors!=undefined){
              let errors = [];
            Object.keys(data.errors).forEach((key) => {
              errors.push(data.errors[key]);
            });
              console.log(data.errors,errors);
              alert(errors)
            }else{
              alert("UserName already exists");
            }
          }else{
          if (userTable) {
      userTable.row.add([
        data.name,
        data.phone,
        data.username,
        `<button class="btn btn-warning edit" id="edit_${data.id}"><i class="fa-solid fa-user-pen me-2"></i>Edit</button> <button class="btn btn-danger delete" id="delete_${data.id}"><i class="fa-solid fa-user-xmark me-2"></i>Delete</button>`,
        data.id
      ]).draw();}
      userTable.columns([4]).visible(false);
      $("#exampleModal").modal('hide');
        }
      },
        error : function(data) {
          console.log(data);
            alert("some error occured",data);
        }
    });
   }
  }); 
    
  userTable.on('click', '.delete', function (e) {
    e.preventDefault();
    console.log("delete button");
    const id=this.id.substr(7);
    var row = $(this).closest('tr'); // Find the closest table row
    var rowData = userTable.row(row).data(); // Get the data for the clicked row
    var rowId = rowData[3]; // Access the value stored in data-id attribute
    $.ajax({
        url : "http://localhost:3000/user/get",
        type : 'POST',
        dataType : 'json',
        data:{id
        },
        success : async function(data) {
          if(data.status==400){
            alert("User Not Found");
          }else{
         const response=confirm(`Are you sure, you want to delete ${data.user.username} ?`);
         if(response){
          $.ajax({
        url : "http://localhost:3000/user/delete",
        type : 'POST',
        dataType : 'json',
        data:{
          id
        },
        success : async function(data) {
          if(data.status==400){
            alert("failed");
          }else{
            alert(`User deleted successfully`);
            userTable.row(row).remove().draw();
          }
        },
        error : function() {
            alert("some error occured");
        }
    });
         }
          }
          
        },
        error : function() {
            alert("some error occured");
        }
    });
  }); 

  userTable.on('click', '.edit', function (e) {
    e.preventDefault();
    const id=this.id.substr(5);
    const row=$(this).closest('tr');
    var tdElements = row.find('td');

        // Extract the values from 'td' elements
        var name = $(tdElements[0]).text();
        var phone = $(tdElements[1]).text();
        var username = $(tdElements[2]).text();
        $("#name").val(name);
        $("#phone").val(phone);
        $("#username").val(username);
        $("#username").val(username);
        $("#passwordDiv").css('display','none');
        $("#addUserForm").addClass('edit-mode');
        $("#exampleModalLabel").html("Edit User");
        $("#id").val(id);
        $("#exampleModal").modal("show");
   }); 

  });
  function changeDisplay(){
   $("#passwordDiv").css('display','block');
   $("#addUserForm").removeClass("edit-mode");
   $("#exampleModalLabel").html("Add New User");
   $("#name").val("");
   $("#phone").val("");
   $("#username").val("");
   $("#id").val("");
   $("#exampleModal").modal("show");
   }

</script>

<%- include('./partials/footer.ejs') %>